﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_layout</title>
    <link href="~/Content/CSS/Mycss.css" rel="stylesheet" />
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">

                <a>(028) 3456789</a>
                <a>(028) 3456789</a>
                <button>Liên hệ quảng cáo</button>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login-right">
                <button>Đăng nhập</button>
                <button>Đăng kí</button>
                <input placeholder="Tìm kiếm" />

            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="banner-container">

            <img src="~/Content/IMG/Logo_Vnexpress.png" />
            <img src="~/Content/IMG/banner-ads-1.png" />
            <img src="~/Content/IMG/banner-ads-2.png" />


        </div>

    </div>
    @RenderBody()
</body>
</html>
