﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>VNEXpress</title>
    <link href="~/Content/CSS/Mycss.css" rel="stylesheet" />
</head>
<body>

    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">

                <a>(028) 3456789</a>
                <a>(028) 3456789</a>
                <button>Liên hệ quảng cáo</button>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login-right">
                <button>Đăng nhập</button>
                <button>Đăng kí</button>
                <input placeholder="Tìm kiếm" />

            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="banner-container">

            <img src="~/Content/IMG/Logo_Vnexpress.png" />
            <img src="~/Content/IMG/banner-ads-1.png" />
            <img src="~/Content/IMG/banner-ads-2.png" />
          

        </div>

    </div>
    <div class="main-home">
        <div class="home-container">
            <a>Thời sự </a>
            <a>Thế giới </a>
            <a>Kinh doanh </a>
            <a>Giải trí </a>
            <a>Thể thao </a>
            <a>Pháp luật</a>
            <a>Giáo dục </a>
            <a>Sức khỏe </a>
            <a>Gia đình </a>
            <a>Du lịch </a>
            <a>Khoa học </a>
            <a>Số hóa </a>
            <a>Xe </a>
            <a>Cộng đồng </a>
            <a>Tâm sự</a>
            <a>Video </a>
            <a>Cười </a>
            <a>Rao vật </a>

        </div>
    </div>
   

    <div class="main-below">             
            <img src="~/Content/IMG/thumnails.png" />
            <img src="~/Content/IMG/right-ads-1.png" />
            <img src="~/Content/IMG/right-ads-2.png" />
            <img src="~/Content/IMG/right-ads-3.png" />
    </div>

</body>
</html>