﻿
    ViewBag.Title = "Home - index";
    Layout = "~/Views/Share/_layout.cshtml";
}
<h1>Home-Index</h1>

<div class="main-home">
    <div class="home-container">
        <a>Thời sự </a>
        <a>Thế giới </a>
        <a>Kinh doanh </a>
        <a>Giải trí </a>
        <a>Thể thao </a>
        <a>Pháp luật</a>
        <a>Giáo dục </a>
        <a>Sức khỏe </a>
        <a>Gia đình </a>
        <a>Du lịch </a>
        <a>Khoa học </a>
        <a>Số hóa </a>
        <a>Xe </a>
        <a>Cộng đồng </a>
        <a>Tâm sự</a>
        <a>Video </a>
        <a>Cười </a>
        <a>Rao vật </a>

    </div>
</div>


<div class="main-below">
    <img src="~/Content/IMG/thumnails.png" />
    <img src="~/Content/IMG/right-ads-1.png" />
    <img src="~/Content/IMG/right-ads-2.png" />
    <img src="~/Content/IMG/right-ads-3.png" />
</div>

